<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card-body">
         <h5 class="card-title">Proyecto:</h5>
        <form action="/add" method="POST">
          <div class="form-group">
            <input type="text" name="name" placeholder="Nombre" class="form-control" autofocus maxlength="40" required>
          </div>
          <div class="form-group">
            <input type="text" name="address" placeholder="Descripción" class="form-control" maxlength="90" required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">
              Guardar proyecto
            </button>
              <a href="/report" class="btn btn-primary">Reporte</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
        <div class="card-body">
           <h5 class="card-title">Tareas:</h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td>Colaborador</td>
                <% if (data) { %>
                  <% for(var i = 0; i < data.length; i++) { %>
                      <td><%= data[i].nombre %>

                        <a href="/update/<%= data[i].id_categoria %>" class="glyphicon glyphicon-pencil"></a>
                        <a href="/delete/<%= data[i].id_categoria %>" class="glyphicon glyphicon-trash"></a>
                      </td>
                  <% } %>
                <% } %>
                <td>
                  Acciones
                </td>
                <td>
                    <a href="/add/" class="glyphicon glyphicon-plus"></a>
                </td>
              </tr>
            </thead>
            <tbody><!-- Falta hacer loop para llenar datos-->
              <% if (recursos) { %>
                  <% for(var j = 0; j < recursos.length; j++) { %>
                    <tr>
                      <td><%= recursos[j].nombre %></td> <!-- recupera nombres de Colaboradores-->
                      <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                            <td>
                              <input type="number" id="txtHoras_<%= data[i].id_categoria %>_<%= recursos[j].id_recursos %>" name="horas_<%= data[i].id_categoria %>_<%= recursos[j].id_recursos %>" value="" placeholder="Horas" class="form-control" min="0" max="999999">
                            </td>
                        <% } %>
                            <td>
                                <a href="/saveT/" class="glyphicon glyphicon-floppy-disk"></a>
                                <a href="/deleteR/<%= recursos[j].id_recursos %>" class="glyphicon glyphicon-trash"></a>
                            </td>
                      <% } %>
                    </tr>
                  <% } %>
              <% } %>
              <tr>
                <td><a href="/addRecurso/" class="glyphicon glyphicon-plus"></a></td>
              </tr>
            <!--  <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %>
                  <tr>
                    <td><%= data[i].name %></td>
                  </tr>
                <% } %>
              <% } %> -->
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
