<% include partials/_header %>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#proyectos">Proyectos</a></li>
  <li><a data-toggle="tab" href="#categorias">Categorías</a></li>
  <li><a data-toggle="tab" href="#recursos">Recursos</a></li>
  <li><a data-toggle="tab" href="#tareas">Tareas</a></li>
</ul>
<div class="tab-content">
<!--***************************************************************************************************************************************************************
                                                                      Sección de Proyectos
****************************************************************************************************************************************************************-->
  <div id="proyectos" class="tab-pane fade in active">
    <div class="col-md-4">
      <div class="card-body">
         <h5 class="card-title">Nuevo Proyecto:</h5>
        <form action="/add" method="POST">
          <div class="form-group">
            <input type="text" name="name" placeholder="Nombre" class="form-control" autofocus maxlength="40" required>
          </div>
          <div class="form-group">
            <input type="text" name="descripcion" placeholder="Descripción" class="form-control" maxlength="90" required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">
              Guardar proyecto
            </button>
              <a href="/report" class="btn btn-primary">Reporte</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
          <div class="card-body">
             <h5 class="card-title">Proyectos:</h5>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>Proyecto</td>
                  <td>Descripción</td>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>Proyecto1</td>
                <td>Proyecto de Prueba</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
<!--***************************************************************************************************************************************************************
                                                                      Sección de Categorías
****************************************************************************************************************************************************************-->
  <div id="categorias" class="tab-pane fade">
    <div class="col-md-4">
      <div class="card-body">
         <h5 class="card-title">Nueva Categoría:</h5>
           <form action="/insert/" method="POST">
             <div class="form-group">
               <label for="txtNombre">Nombre de Categoría</label>
               <input type="text" id="txtNombre" name="nombre" value="" placeholder="Nombre" class="form-control" autofocus required>
             </div>
             <div class="form-group">
                <label for="txtDescripción">Descripción</label>
               <input type="text" id="txtDescripción" name="descripcion" value="" placeholder="Descripción" class="form-control" required>
             </div>
             <button type="submit" class="btn btn-primary">
               Guardar
             </button>
           </form>
      </div>
    </div>
    <div class="col-md-8">
          <div class="card-body">
             <h5 class="card-title">Categorías:</h5>
            <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <td>Categoría</td>
                    <td>Descripción</td>
                    <td>Acciones</td>
                  </tr>
                </thead>
                <tbody>
                  <% if (categoriasAll) { %>
                      <% for(var j = 0; j < categoriasAll.length; j++) { %>
                        <tr>
                          <td><%= categoriasAll[j].nombre %></td> <!-- recupera nombres de categorias-->
                          <td><%=categoriasAll[j].descripcion%></td>
                          <td>
                            <a href="/update/<%= categoriasAll[j].id_categoria %>" class="glyphicon glyphicon-pencil"></a>
                            <a href="/delete/<%= categoriasAll[j].id_categoria %>" class="glyphicon glyphicon-trash"></a>
                          </td>
                        </tr>
                        <% } %>
                  <% } %>
                </tbody>
              </table>
          </div>
      </div>
  </div>
<!--***************************************************************************************************************************************************************
                                                                      Sección de Recursos
****************************************************************************************************************************************************************-->
  <div id="recursos" class="tab-pane fade">
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Nuevo Recurso:</h5>
          <form action="/insertR/" method="POST">
            <div class="form-group">
              <label for="txtNombre">Nombre de Colaborador</label>
              <input type="text" id="txtNombre" name="txtNombre" value="" placeholder="Nombre" class="form-control" autofocus required>
            </div>
            <div class="form-group">
              <label for="txtDepartamento">Departamento</label>
              <input type="text" id="txtDepartamento" name="txtDepartamento" value="" placeholder="Departamento" class="form-control" autofocus required>
            </div>
            <div class="form-group">
                <label for="txtCostoHoras">Costo por Hora</label>
              <input type="number" id="txtCostoHoras" name="txtCostoHoras" value="" placeholder="Costo" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
          </form>
      </div>
    </div>
    <div class="col-md-8">
          <div class="card-body">
             <h5 class="card-title">Recursos:</h5>
            <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <td>Recurso</td>
                    <td>Departamento</td>
                    <td>Por Hora</td>
                    <td>Acciones</td>
                  </tr>
                </thead>
                <tbody>
                  <% if (recursosAll) { %>
                      <% for(var j = 0; j < recursosAll.length; j++) { %>
                        <tr>
                          <td><%= recursosAll[j].nombre %></td> <!-- recupera nombres de recurso-->
                          <td><%= recursosAll[j].departamento %></td>
                          <td><%=recursosAll[j].porhora%></td>
                          <td>
                            <a href="/updateRe/<%= recursosAll[j].id_recursos %>" class="glyphicon glyphicon-pencil"></a>
                            <a href="/deleteR/<%= recursosAll[j].id_recursos %>" class="glyphicon glyphicon-trash"></a>
                          </td>
                        </tr>
                        <% } %>
                  <% } %>
                </tbody>
            </table>
          </div>
      </div>
  </div>
  <!--***************************************************************************************************************************************************************
                                                                      Sección de Tareas
  ****************************************************************************************************************************************************************-->
  <div id="tareas" class="tab-pane fade">
    <div class="col-md-12">
        <div class="card-body">
           <h5 class="card-title">Tareas:</h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td>Colaborador</td>
                <% if (data) { %>
                  <% for(var i = 0; i < data.length; i++) { %>
                      <td><%= data[1].rows[i].nombre %>

                        <a href="/update/<%= data[1].rows[i].id_categoria %>" class="glyphicon glyphicon-pencil"></a>
                        <a href="/delete/<%= data[1].rows[i].id_categoria %>" class="glyphicon glyphicon-trash"></a>
                      </td>
                  <% } %>
                <% } %>
                <td>
                  Acciones
                </td>
                <td>
                    <a href="/add/" class="glyphicon glyphicon-plus"></a>
                </td>
              </tr>
            </thead>
            <tbody><!-- Falta hacer loop para llenar datos-->
              <% if (recursos) { %>
                  <form action="/addTarea" method="POST">
                  <% for(var j = 0; j < recursos.length; j++) { %>
                    <tr>
                      <td><%= recursos[1].rows[j].nombre %></td> <!-- recupera nombres de Colaboradores-->
                      <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                            <td>

                                  <% if (data[1].rows[i].id_categoria == tareas[1].rows[i].id_categoria &&  recursos[1].rows[j].id_recursos == tareas[1].rows[j].id_recursos ) { %>

                                    <input type="number" id="txtHoras_<%= data[1].rows[i].id_categoria %>_<%= recursos[1].rows[j].id_recursos %>" name="horas_<%= data[1].rows[i].id_categoria %>_<%= recursos[1].rows[j].id_recursos %>"
                                     placeholder="Horas" class="form-control" min="0" max="999999" value="<%=tareas[1].rows[i].horas%>">

                                  <%  } else { %>

                                    <input type="number" id="txtHoras_<%= data[1].rows[i].id_categoria %>_<%= recursos[1].rows[j].id_recursos %>" name="horas_<%= data[1].rows[i].id_categoria %>_<%= recursos[1].rows[j].id_recursos %>"
                                    placeholder="Horas" class="form-control" min="0" max="999999" value="">

                                   <%  } %>


                            </td>

                        <% } %>
                            <td>
                                <button type="submit" class="glyphicon glyphicon-floppy-disk"></button>
                                <a href="/deleteR/<%= recursos[1].rows[j].id_recursos %>" class="glyphicon glyphicon-trash"></a>
                            </td>
                      <% } %>
                    </tr>
                  <% } %>
                </form>
              <% } %>
              <tr>
                <td><a href="/addRecurso/" class="glyphicon glyphicon-plus"></a></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<% include partials/_footer %>
