<% include partials/_header %>

  <div class="row">
    <div class="col-md-2" onclick="location.href='/'" style="cursor:pointer">
      <span class="glyphicon glyphicon-menu-left lblForm" >  </span> Volver a proyectos
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <% if (typeof(data) !== 'undefined') { %>
  <div class="row">
    <div class="col-md-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-1 lblForm">
      <span style="font-size: 24px; font-weight: bold; border-right: 1px solid;padding-right: 30px;margin-right: 30px;"> <%= data[0].nombre%> </span> 
      <div style=" background: gray; border-radius: 70%; height: 16px; width: 15px; display: inline-block;"> </div> <span style="font-size: 18px; font-weight: bold;"><%=totalHoras%> </span> <span style="font-size:11px">Horas estimadas</span> <br>
      Cliente: <%= data[0].cliente%>  C贸digo: <%= data[0].codigo%>
    </div>
    <div class="col-md-5">     
    </div>
    <div class="col-md-3">      
      <button class="btnNormal"  type="button" onClick="exportProject()" ><i class="glyphicon glyphicon-open" style="font-weight"></i> Exportar tabla</button>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
    <div class="col-md-11 offset-md-1 lblForm">
      <div style="border:1px solid; width: 11%; text-align: center;">Ver colaboradores</div>
    </div>
  </div>
  <div class="row" style="margin-top:20px;margin-bottom:10px;">
    <div class="col-md-8 offset-md-1 lblForm">
      <span style="font-size: 16px; font-weight: bold;">
        Estimaci贸n de horas por estapas del proyecto
      </span>
    </div>
     <div class="col-md-3 lblForm">
       <div class="input-group col-md-7  ">
                <input class="form-control border-secondary py-2" type="search" placeholder="Buscar" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
     </div>
  </div>
  <% for(var i = 0; i < categoriesSelected.length;i++){ %>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-10 offset-md-1 lblForm" style="background-color: #FFFFFF; border-radius:9px; padding: 15px;">
        <div class="col-md-10" style="border-bottom:1px solid;min-height: 30px;">
          <span class="lblForm" style="font-size: 16px; font-weight: bold;"><%= categoriesSelected[i].nombre %></span>
        </div>
        <div class="col-md-2" style="border-bottom:1px solid;min-height: 30px; cursor:pointer" onClick="agregarEstimacion(<%= categoriesSelected[i].id_categoria %>)">
          <i class="glyphicon glyphicon-plus-sign"> </i> <span style="padding-left: 10px;">Agregar estimaci贸n</span>
        </div>
        <div class="col-md-12" style="min-height: 30px;padding-top: 15px; text-align: center">
          <div class="col-md-4">Departamento</div> 
          <div class="col-md-4">Colaborador</div>
          <div class="col-md-2">Horas estimadas</div>
          <div class="col-md-2"></div>
          <% for(var a = 0; a < tareas.length;a++){ %>
            <% if(categoriesSelected[i].id_categoria == tareas[a].id_categoria){ %>
              <div class="col-md-12" style="background-color: #F2F2F2;padding: 10px; margin-top:10px;">
                <div class="col-md-4"><%= tareas[a].departamento %></div> 
                <div class="col-md-4" style="border-right: 1px solid; border-left: 1px solid;"><%= tareas[a].firstname %> <%= tareas[a].lastname %></div>
                <div class="col-md-2" style="border-right: 1px solid;""><%= tareas[a].horas %></div>
                <div class="col-md-2"><i class="glyphicon glyphicon-trash" onClick="deleteEstimacion(<%= tareas[a].id %>)"></i></div>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>    
   <% } %>
<!-- The Modal -->
  <div class="modal fade" id="myModalHours">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
      
        <!-- Modal Header -->
        <div class="modal-header">
         <label class="lblTittle">Agregar Estimacion</label>
          <button type="button" class="close" data-dismiss="modal" onClick="cleanForm()">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="formTareas">
            <input type="hidden" id="id_categori_selected" name="id_categori_selected">
            <div class="form-row paddingTop">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="projectCode" class="lblForm">Horas estimadas</label>
                <input type="text" class="form-control formulario" id="hours" name="hours" required>
              </div>
            </div>
          </form>
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">         
          <button class="btnCancel" type="button"  data-dismiss="modal" onClick="cleanForm()" >Cancelar</button>
          <button class="btnNormal"  type="button" onClick="saveHours()" >Agregar Estimaci贸n</button>
        </div>        
      </div>
    </div>
  </div>
<script>
  jQuery(document).ready(function() {
    var handleValidation = function() {
      var message = "No puedes dejar este campo en blanco.";
      var message2 = "Debe seleccionar una opci&oacute;n.";
      $('#formTareas').validate({
        errorElement: 'label', //default input error message container
        errorClass: 'help-inline', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
          hours: { required: true } 
        },
        messages: { // en caso de error estos son los mensajes que se muestran            
          hours: { required: message } 
        },
        highlight: function (element) { // hightlight error inputs
          $(element).closest('.control-group').addClass('error'); // set error class to the control group
        },
        success: function (label) {
          label.closest('.control-group').removeClass('error');
          label.remove();
        },
        errorPlacement: function (error, element) {
           error.addClass('help-small no-left-padding').insertAfter(element);          
        },
        submitHandler: function (form) {
          form.submit();
        }
      });
    }
  });
  function agregarEstimacion(id_categoria){
    $('#id_categori_selected').val(id_categoria);
    $('#myModalHours').modal('show');
  }

  function saveHours(){
    if ($('#formTareas').valid()) {
      $.ajax({
        type: "POST",
        url: "/addTarea/<%= data[0].id_proyectos%>",
        data: $('#formTareas').serialize() ,
        async:true,
        beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
          showIsLoading("Procesando...");
        }
      }).done(function (data, textStatus) {              
        hideIsLoading();
        $('#myModalHours').modal('hide');
        if (textStatus != 'success') {
          fnOpenErrorDialog(data.desc);
        }
        if (textStatus == 'success') {
          fnOpenCorrectDialog(data.desc);
          cleanForm();
          setTimeout(function() { location.reload(); }, 1000);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        hideIsLoading();
        $('#myModalHours').modal('hide');
        fnOpenErrorDialog(errorThrown);
      });

    }
  }
  function cleanForm(){
    $('#id_categori_selected').val("");
    $('#hours').val("");
  }
</script>
 <% } %>
 <% include partials/_footer %>