<% include partials/_header %>

  <div class="row">
    <div class="col-md-2" onclick="location.href='/'" style="cursor:pointer; color: #2B35EC;font-family: var(--letra)">
      <img src="/images/Volver.png" style="width:9px;margin:15px;"> Volver a proyectos
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <% if (typeof(data) !== 'undefined') { %>
  <div class="row">
    <div class="col-md-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-1 lblForm">
      <span class="nameProyectActive"> <%= data[0].nombre%> </span> 
      <span class="hoursProyect"><%=totalHoras%> </span> <span style="font-size:11px">Horas estimadas</span> <br>
      Cliente: <%= data[0].cliente%>  &nbsp &nbsp Código: <%= data[0].codigo%>
    </div>
    <div class="col-md-3">     
    </div>
    <div class="col-md-3">      
      <button class="btnNormal"  type="button" onClick="exportProject()" ><img src="/images/export.png" style="width:14px; margin-right:5px;"> Exportar tabla</button>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
    <div class="col-md-11 offset-md-1 lblForm" style="display: inherit;">
      <div style="border:1px solid; width: 165px; text-align: center; color: #2B35EC; margin-right: 10px; cursor:pointer;height: 30px;padding-top: 4px;" onclick="fnColaboradores()">Ver colaboradores</div>
      <% if (data[0].estado) { %>
        <div style="border:1px solid; width: 159px; text-align: center; color: #2B35EC; cursor:pointer;padding-top: 4px;" onclick="CallConfirmInactivarProyecto('<%= data[0].nombre%>')">Inactivar Proyecto</div>
      <% } else {%>
        <div style="border:1px solid; width: 159px; text-align: center; background-color: #2B35EC; cursor:pointer; color: white;padding-top: 4px;" onclick="CallConfirmActivarProyecto('<%= data[0].nombre%>')">Activar Proyecto</div>
      <%} %>
    </div>
  </div>
  <div class="row" style="margin-top:20px;margin-bottom:10px;">
    <div class="col-md-8 offset-md-1 lblForm">
      <span class="subTitleEstimate">
        Estimación de horas por estapas del proyecto
      </span>
    </div>
     <div class="col-md-3 lblForm">
       <div class="input-group col-md-7  ">
                <input class="form-control border-secondary py-2" type="search" placeholder="Buscar" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
     </div>
  </div>
  <% for(var i = 0; i < categoriesSelected.length;i++){ %>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-10 offset-md-1 lblForm" style="background-color: #FFFFFF; border-radius:9px; padding: 15px;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);">
        <div class="col-md-10" style="border-bottom:1px solid #C4C4C4;min-height: 30px;">
          <span class="lblForm titleCategories"><%= categoriesSelected[i].nombre %></span>
        </div>
        <% if (data[0].estado) { %>
          <div class="col-md-2" style="border-bottom:1px solid #C4C4C4;min-height: 31px; cursor:pointer" onClick="agregarEstimacion(<%= categoriesSelected[i].id_categoria %>)">
          <img src="/images/add_hours.png" style="width:14px;"> <span style="padding-left: 5px; font-size:12px; color:#ED4A71;">Agregar estimación</span>
          </div>
        <% } else {%>
          <div class="col-md-2" style="border-bottom:1px solid #C4C4C4;min-height: 31px;"">
          </div>
        <%} %>
        <div class="col-md-12" style="min-height: 30px;padding-top: 15px; text-align: center">
          <% 
          categoriaTieneHoras =false;
          for(var b = 0; b < tareas.length;b++){
            if(categoriesSelected[i].id_categoria == tareas[b].id_categoria){ 
              categoriaTieneHoras =true;
            }
          }
          if(categoriaTieneHoras) {%>
            <div class="col-md-4">Departamento</div> 
            <div class="col-md-4">Colaborador</div>
            <div class="col-md-3">Horas estimadas</div>
            <div class="col-md-1"></div>
            <% for(var a = 0; a < tareas.length;a++){ %>
              <% if(categoriesSelected[i].id_categoria == tareas[a].id_categoria && data[0].estado){ %>
                <div class="col-md-12" style="background-color: rgb(43,53,236, 0.05);padding: 10px; margin-top:10px;">
                  <div class="col-md-4" style="min-height: 30px;padding-top: 5px;"><%= tareas[a].departamento %></div> 
                  <div class="col-md-4" style="border-right: 2px solid #2B35EC; border-left: 2px solid #2B35EC;min-height: 30px;padding-top: 5px;"><%= tareas[a].firstname %> <%= tareas[a].lastname %></div>
                  <div class="col-md-3" style="border-right: 2px solid #2B35EC; min-height: 30px;padding-top: 5px;"><%= tareas[a].horas %></div>
                  <div class="col-md-1" style="min-height: 30px;padding-top: 5px;">  
                      <img src="/images/Delete.png" style="width:12px;cursor:pointer" onClick="deleteEstimacion(<%= tareas[a].id %>)">
                  </div>
                </div>
              <% } else if (categoriesSelected[i].id_categoria == tareas[a].id_categoria && !data[0].estado){ %>
                <div class="col-md-12" style="padding: 10px; margin-top:10px;">
                    <div class="col-md-4" style="min-height: 30px;padding-top: 5px;"><%= tareas[a].departamento %></div> 
                    <div class="col-md-4" style="border-right: 2px solid #E1E1E1; border-left: 2px solid #E1E1E1;min-height: 30px;padding-top: 5px;"><%= tareas[a].firstname %> <%= tareas[a].lastname %></div>
                    <div class="col-md-3" style="border-right: 2px solid #E1E1E1; min-height: 30px;padding-top: 5px;"><%= tareas[a].horas %></div>
                    <div class="col-md-1" style="min-height: 30px;padding-top: 5px;">  
                    </div>
                  </div>
              <% } %>
            <% } %>
          <% } else{ %>
            Aún no se ha iniciado la estimación de horas.
          <% } %>
        </div>
      </div>
    </div>    
   <% } %>
<!-- The Modal -->
  <div class="modal fade" id="myModalHours">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
      
        <!-- Modal Header -->
        <div class="form-row">
         <label class="lblTittle">Agregar Estimación</label>                   
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="formTareas" name="formTareas">
            <input type="hidden" id="id_categori_selected" name="id_categori_selected">
            <div class="form-row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="projectCode" class="lblForm">Ingrese el número de horas estimadas:</label>
                <input type="text" class="form-control formulario" id="hoursTasks" name="hoursTasks" placeholder="Ingrese el número de horas a estimar">
              </div>
            </div>
          </form>
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">         
          <button class="btnCancel" type="button"  data-dismiss="modal" onClick="cleanForm()" >Cancelar</button>
          <button class="btnNormal"  type="button" onClick="saveHours()" >Agregar Estimación</button>
        </div>        
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalColaboradores">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >      
        <!-- Modal Header -->
        <div class="form-row">
         <label class="lblTittle">Colaboradores</label>          
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="formColaboradores">
            <input type="hidden" id="id_categori_selected" name="id_categori_selected">
            <div class="form-row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="projectCollaborator" class="lblForm">Colaboradores</label>
                <select class="chosen col-md-12" multiple="true" style="width: 100%; height:100px;" name="projectCollaborator" id="projectCollaborator" required>
                  <% if (typeof(usersAll) !== "undefined") { %>
                    <% for(var j = 0; j < usersAll.length; j++) { %>
                        <option><%= usersAll[j].email %></option>
                      <% } %>
                  <% } %>
                </select>
              </div>
            </div>
          </form>
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">         
          <button class="btnCancel" type="button"  data-dismiss="modal" onClick="cleanForm()" >Cancelar</button>
          <button class="btnNormal"  type="button" onClick="saveColaboradores()" >Guardar Cambios</button>
        </div>        
      </div>
    </div>
  </div>

  <div class="modal fade" id="inactivarProyecto">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >      
        <!-- Modal Header -->        
        <!-- Modal body -->
        <div class="modal-body">
          <label class="lblTittle">Inactivar proyecto</label>  
          <div id="textInactive"></div>    
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">         
          <button class="btnCancel" type="button"  data-dismiss="modal">Cancelar</button>
          <button class="btnNormal"  type="button" onClick="InactivarProyecto()" >Inactivar</button>
        </div>        
      </div>
    </div>
  </div>

  <div class="modal fade" id="activarProyecto">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >      
        <!-- Modal Header -->        
        <!-- Modal body -->
        <div class="modal-body">
          <label class="lblTittle">Activar proyecto</label>  
          <div id="textActive"></div>    
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">         
          <button class="btnCancel" type="button"  data-dismiss="modal">Cancelar</button>
          <button class="btnNormal"  type="button" onClick="ActivarProyecto()" >Activar</button>
        </div>        
      </div>
    </div>
  </div>

   <div class="modal fade" id="errorMessageModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >      
        <!-- Modal Header -->        
        <!-- Modal body -->
        <div class="modal-body">
          <label class="lblTittle">No es posible inactivar el proyecto</label>  
          <div id="textErrorMessage"></div>    
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">         
          <button class="btnNormal"  type="button"data-dismiss="modal" >Aceptar</button>
        </div>        
      </div>
    </div>
  </div>
<script>
  $(function() {
    $(".chosen").chosen({
      display_disabled_options: true
    });
  });
  jQuery(document).ready(function() {
    $("#projectCollaborator_chosen").css("width","100%");
    $(".chosen-choices").css("height","120px");
    var handleValidation = function() {
      var message = "Debe completar este campo.";
      var message2 = "Debe seleccionar una opci&oacute;n.";
      $('#formTareas').validate({
        errorElement: 'label', //default input error message container
        errorClass: 'help-inline', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
          hoursTasks: { required: true } 
        },
        messages: { // en caso de error estos son los mensajes que se muestran            
          hoursTasks: { required: message }
        },
        highlight: function (element) { // hightlight error inputs
          $(element).closest('.control-group').addClass('error'); // set error class to the control group
        },
        success: function (label) {
          label.closest('.control-group').removeClass('error');
          label.remove();
        },
        errorPlacement: function (error, element) {
           error.addClass('help-small no-left-padding').insertAfter(element);          
        },
        submitHandler: function (form) {
          form.submit();
        }
      });
    }
      handleValidation();
      colaboradores = '<%= data[0].colaboradores%>';
      var colaboradoresArray = colaboradores.split(',');
      $('#projectCollaborator').val(colaboradoresArray);
      $('#projectCollaborator').trigger("chosen:updated");

  });
  function agregarEstimacion(id_categoria){
    cleanForm();
    $('#id_categori_selected').val(id_categoria);
    $('#myModalHours').modal('show');
  }

  function fnColaboradores(){
    $('#modalColaboradores').modal('show');
  }

  function saveHours(){
    if ($('#formTareas').valid()) {
      $.ajax({
        type: "POST",
        url: "/addTarea/<%= data[0].id_proyectos%>",
        data: $('#formTareas').serialize() ,
        async:true,
        beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
          showIsLoading("Procesando...");
        }
      }).done(function (data, textStatus) {              
        hideIsLoading();
        $('#myModalHours').modal('hide');
        if (textStatus != 'success') {
          fnOpenErrorDialog(data.desc);
        }
        if (textStatus == 'success') {
          fnOpenCorrectDialog(data.desc);

          cleanForm();
          setTimeout(function() { location.reload(); }, 1000);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        hideIsLoading();
        $('#myModalHours').modal('hide');
        fnOpenErrorDialog(errorThrown);
      });

    }
  }
  function cleanForm(){
    $('#id_categori_selected').val("");
    $('#hoursTasks').val("");
  }

  function deleteEstimacion(idTarea){
    if (1==1) {
        $.ajax({
          type: "DELETE",
          url: "/addTarea/"+idTarea,
          async:true,
          beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
            showIsLoading("Procesando...");
          }
        }).done(function (data, textStatus) {              
          hideIsLoading();
          $('#myModalHours').modal('hide');
          if (textStatus != 'success') {
            fnOpenErrorDialog(data.desc);
          }
          if (textStatus == 'success') {
            cleanForm();
            setTimeout(function() { location.reload(); }, 1000);
          }
        }).fail(function (data, textStatus, errorThrown) {
          hideIsLoading();
          if(data.responseJSON.desc){
            fnOpenErrorDialog(data.responseJSON.desc);
          }
          else{
            fnOpenErrorDialog(errorThrown);
          }
          
        });

      }
  }

  function InactivarProyecto(){
    $.ajax({
      type: "POST",
      url: "/inactiveProyect/<%= data[0].id_proyectos%>",
      async:true,
      beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
        showIsLoading("Procesando...");
      }
    }).done(function (data, textStatus) {              
      hideIsLoading();
      $('#inactivarProyecto').modal('hide');
      if (textStatus == 'success') {
        cleanForm();
        setTimeout(function() { location.reload(); }, 1000);
      }
    }).fail(function (data, textStatus, errorThrown) {
      hideIsLoading();
      $('#inactivarProyecto').modal('hide');
      if(data.responseJSON.desc){
        $("#textErrorMessage").html(data.responseJSON.desc);  
        $('#errorMessageModal').modal('show');
      }
      else{
        $("#textErrorMessage").html(data.responseJSON.desc);  
        $('#errorMessageModal').modal('show');
      }
      
    });
  }

  function CallConfirmInactivarProyecto(name){
    message='¿Está seguro que desea inactivar el proyecto '+name+'?';
    $("#textInactive").html(message);  
    $('#inactivarProyecto').modal('show'); 
  }

  function CallConfirmActivarProyecto(name){
    message='¿Desea activar el proyecto '+name+'?';
    $("#textActive").html(message);  
    $('#activarProyecto').modal('show'); 
  }

  function ActivarProyecto(){
    $.ajax({
      type: "POST",
      url: "/activeProyect/<%= data[0].id_proyectos%>",
      async:true,
      beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
        showIsLoading("Procesando...");
      }
    }).done(function (data, textStatus) {              
      hideIsLoading();
      $('#activarProyecto').modal('hide');
      if (textStatus == 'success') {
        cleanForm();
        setTimeout(function() { location.reload(); }, 1000);
      }
    }).fail(function (data, textStatus, errorThrown) {
      hideIsLoading();
      $('#activarProyecto').modal('hide');
      if(data.responseJSON.desc){
        $("#textErrorMessage").html(data.responseJSON.desc);  
        $('#errorMessageModal').modal('show');
      }
      else{
        $("#textErrorMessage").html(data.responseJSON.desc);  
        $('#errorMessageModal').modal('show');
      }
      
    });
  }

</script>
 <% } %>
 <% include partials/_footer %>