
<% if (typeof(proyectosActivos) !== "undefined") { %>
        <% for(var j = 0; j < proyectosActivos.length; j++) { %>
        <%  if(j === 0 ||	(j % 4 == 0)){ %>
            <div class="row" style="margin-top: 3%;">
                <div class="card-deck col-md-12">
        <%  } %>
                <a href="/updatePe/<%= proyectosActivos[j].id_proyectos %>">
                  <div class="card" style="padding:0px;max-width: 22.5%;">
                    <div class="card-body cardstyle" style="padding-top: 45px;">
                      <h3 class="card-title"><%= proyectosActivos[j].nombre %></h3>
                      <div class="row">
                        <p class="card-text" style="margin-left: 6%;"><small> Creado por: <%= proyectosActivos[j].firstname %> <%= proyectosActivos[j].lastname %> </small></p>
                      </div>
                       <div class="row">
                        <p class="card-text" style="margin-left: 6%;"><small> Código: <%= proyectosActivos[j].codigo %></small></p>
                      </div>
                      <div class="row">
                        <p class="card-text" style="margin-left: 6%;"> <small> <%= proyectosActivos[j].fecha_creacion.toDateString() %> </small></p>
                      </div>
                    </div>                    
                    <% ingresa = false; for(var i = 0; i < tareasProyectos.length; i++) { %>
                      <% if(tareasProyectos[i].id_proyectos == proyectosActivos[j].id_proyectos){%>
                      <%ingresa = true;%>
                        <div class="card-footer text-muted">
                          <div style="background-color: white;width: 50%;display: inline-block;">
                            <p class="card-meta"><small ><a class="glyphicon glyphicon-time"></a> Tiempo: <%=  tareasProyectos[i].horas %>h</small></p>
                          </div>
                          <div style="background-color: white;width: 50%;display: inline-block;float: right;">
                            <p class="card-meta"><small><a class="glyphicon glyphicon-tasks"></a> Tareas: <%= tareasProyectos[i].tareas%></small></p>
                          </div>
                        </div>
                    <% } }%>
                    <% if(!ingresa){%>
                      <div class="card-footer text-muted">
                        <div style="background-color: white;width: 50%;display: inline-block;">
                          <p class="card-meta"><small ><a class="glyphicon glyphicon-time"></a> Tiempo: 0 h</small></p>
                        </div>
                        <div style="background-color: white;width: 50%;display: inline-block;float: right;">
                          <p class="card-meta"><small><a class="glyphicon glyphicon-tasks"></a> Tareas: 0 </small></p>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </a>  

          <%  if(j===proyectosActivos.length-1 || ((j+1) % 4 == 0)){ %>
                </div>
            </div>
          <% } }%>
<% } %>

<script type="text/javascript">
  const forms = document.forms;
  // Search projects
  const listP = document.querySelector('#activos');
  const searchBarP = forms['search-projects'].querySelector('input');
  searchBarP.addEventListener('keyup', (e) => {
    const term = e.target.value.toLowerCase();
    const projects = listP.getElementsByClassName('card-title');
    Array.from(projects).forEach((project) => {
      const title = project.textContent;
      if(title.toLowerCase().indexOf(e.target.value) != -1){
        project.parentElement.parentElement.parentElement.style.display = 'block';
      } else {
        project.parentElement.parentElement.parentElement.style.display = 'none';
      }
    });
  });
</script>