
<% if (typeof(proyectosInactivos) !== "undefined") { %>
        <% for(var j = 0; j < proyectosInactivos.length; j++) { %>
        <%  if(j === 0 || (j % 4 == 0)){ %>
            <div class="row" style="margin-top: 3%;">
                <div class="card-deck col-md-12">
        <%  } %>
              <div class="card card-proyect" style="padding:0px;max-width: 22.5%; opacity: 0.5;" onclick="location.href='/updatePe/<%= proyectosInactivos[j].id_proyectos %>'">
                <div class="card-body cardstyle" >
                  <div class="card-header-proyect"></div>
                  <div class="text-activo-card"><div class="redondeado"></div> Activo </div>
                  <div class="card-title" style="padding-top: 65px;"><%= proyectosInactivos[j].nombre %></div>
                  <div class="row card-text">
                    Creado por: <%= proyectosInactivos[j].firstname %> <%= proyectosInactivos[j].lastname %>
                  </div>
                   <div class="row card-text-detail">
                    Código: <%= proyectosInactivos[j].codigo %> 
                  </div>
                  <div class="row card-text-detail">
                    <%= proyectosInactivos[j].fecha_creacion.toLocaleDateString() %> 
                  </div>
                </div>                    
                <% ingresa = false; for(var i = 0; i < tareasProyectos.length; i++) { %>
                  <% if(tareasProyectos[i].id_proyectos == proyectosInactivos[j].id_proyectos){%>
                  <%ingresa = true;%>
                    <div class="cardproyect-footer">
                      <div style="width: 50%;display: inline-block;padding-left:15px;">
                      <small ><i class="icon-clock" style="position: absolute;margin-top: 4px;font-size: 15px;margin-left: -20px;"></i> Tiempo: <%=  tareasProyectos[i].horas %>h</small>
                      </div>
                      <div style="width: 50%;display: inline-block;float: right;">
                        <small></small>
                      </div>
                    </div>
                <% } }%>
                <% if(!ingresa){%>
                  <div class="cardproyect-footer">
                    <div style="width: 50%;display: inline-block; padding-left:15px;">
                      <small ><i class="icon-clock" style="position: absolute;margin-top: 4px;font-size: 15px;margin-left: -20px;"></i> Tiempo: 0 h</small>
                    </div>
                    <div style="width: 50%;display: inline-block;float: right;">
                     <small></small>
                    </div>
                  </div>
                <% } %>
              </div>

          <%  if(j===proyectosInactivos.length-1 || ((j+1) % 4 == 0)){ %>
                </div>
            </div>
          <% } }%>
<% } %>
